{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="jumbotron my-custom-jumbotron">
  <h1 class="display-10">About Us</h1>
  <p class="lead">I think Logarithms are cool, but kind of syntacticlly weird. Like take "<i>Log</i><sub>2</sub>8</p>=3", if you said that out loud
  <br> it's "Log Two of Eight equals Three." Well what the heck? What I want to say is, "The Power that needs to be raised to to get eight, is three." <br>
  Now I get how that's awfully wordy, but when we talk about exponents, I think the speach is more natural. "2<sup>3</sup>=8," means "Two raised to the power of <br>
  three equals eight." I don't know I think that sounds better? So I used the ChatGPT API to make the Log Translator. It's not here to give you the answer, <br>
  but to restate the Log in a way that feels natural. I think half the battle with math is understanding what the symbols mean. So this is my little bit of help. <br>
  Try it! 
  <hr class="my-4">
  <p>Feel free to customize this page with your own content.</p>
</div>
{% endblock %}

  <!-- Jumbotron content here -->
